/*
 * Copyright (c) 2024 Joshua Wiens
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <behaviors/unicode.dtsi>

&uc {
  default-mode = <UC_MODE_WIN_COMPOSE>;  // Default to wincompose input system
  minimum-length = <0>;                  // Set to desired minimum input length
  //linux-key = <LC(LS(U))>;            // Overwrite Linux compose key
  win-compose-key = <RALT>;              // Overwrite WinCompose compose key
};

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
                &uc 0x1F638 0x1F639    &uc 0x2191 0x1F574    &uc 0x2248 0x2103
                &uc 0x2190 0x21D0      &uc 0x1F44D 0x1F44E   &uc 0x2192 0x21D2
                &uc 0x1F680 0x1F47D    &uc 0x2193 0x1F643    &mo 1
            >;
        };
        
        bluetooth_layer {
            bindings = <
                &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2
                &bt BT_SEL 3    &bt BT_SEL 4    &bt BT_CLR
                &bt BT_NXT      &bt BT_PRV      &trans
            >;
        };
    };
};